* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth; 
}

.section {
    padding: 100px 20px;
    scroll-margin-top: 100px; 
}

:root {
    --primaria: var(#0d1b2a);
    --secundaria: #2f3b5c;
    --escuro: #485b91;
    --maisEscuro: #1E3A8A;
    --claro: #0F172A;
    --vidro: #2c3e6e;
}

body {
    background-color: #0d1b2a;
    color: white;
}

.navegacao {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 100;
    padding: 1.2rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

#hamburguer {
    display: none;
}

@media (max-width: 768px) {

    #hamburguer {
        display: block;
        font-size: 28px;
        border: none;
        background: none;
        cursor: pointer;
        color: #0d1b2a;
    }

    .menu {
        position: absolute;
        top: 70px;
        right: 20px;
        background: white;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        display: none; /* escondido no mobile */
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    .menu.ativa {
        display: flex;
        position: absolute;
        background-color: white;
        top: 35px;
        width: 100%;
        left: 0;
    }
}


.menu-link {
    text-decoration: none;
    color: #0F172A;
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #162444;
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px; 
    padding-bottom: 50px;
}

h1 {
    font-size: clamp(2.4rem, 5vw, 3.5rem);
    text-align: center;
    color: #778da9;
    font-weight: bold;
    margin-bottom: -5px;
    text-transform: uppercase;
    font-family: monospace;
    white-space: nowrap;
}

h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    white-space: nowrap;
}

.cabecalho-sub-titulo {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: #778da9;
    font-family: monospace;
    white-space: nowrap;
}

.sobre-titulo {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: monospace;
}

#sobre {
    background: #415a77;
    margin-top: -30px;
   
}

.sobre-caixa {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 16px;
    border: none;
    backdrop-filter: blur(20px);
    background: #415a77;
    margin-top: -60px;
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8; 
    margin-top: 20px;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#projetos {
    margin-top: -50px;
}

.projetos-card {
    background: white; 
    border-radius: 15px;
    backdrop-filter: blur(5px);
    border: 1px solid #2c3e6e;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-decoration: none;   
    color: inherit;  
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: white;
    text-transform: uppercase;
    font-family: monospace;
}

.projetos-imagem {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.caixa-textos-projetos {
    padding: 1.5rem;
}

.paragrafo-projetos {
    color: #0F172A;
    line-height: 1.25rem;
}

.info-projetos {
    margin-bottom: 5px;
    color: #0F172A;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(15, 23, 42, 0.4);
    transform: translateY(-10px) scale(1.03);
}

#contatos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: -100px; 
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top: 50px;
    color: white;
    text-transform: uppercase;
    font-family: monospace;
}

.formulario-contato {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    background: #778da9;
    border: none;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    color: #415a77;
    border: none;
    outline: none;
    transition: 0.3s;
}

.campo-form:focus {
    border-color: none;
    box-shadow: 0 0 10px rgba(15, 23, 42, 0.4);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: white; 
    background: #0F172A;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.3s ease;
}

.botao-form:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(15, 23, 42, 0.4);
}

.carousel {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.slides {
    position: relative;
    width: 100%;
    height: 400px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.slide.active {
    opacity: 1;
}

.contato-item {
    color: white;
    margin-bottom: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.footer {
      height: 10vh;
    text-align: center;
    padding: 20px;
    color: #0F172A;;
    background-color: white;
}